.App {
  text-align: center;
}
.table {
    border-collapse: collapse;
    border: 1px solid #9E9E9E;
    margin-left: 40%;
}
.th {
    border: 1px solid #9E9E9E;
    color: #141918;
}
.td {
    border: 1px solid #9E9E9E;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
